@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

*{
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100vh;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    background-repeat: no-repeat;
    background-size: cover;
}



#navbar{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #48484a;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#navbar img{
    height: 90%;
}


#searchDiv{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#city{
    padding: 10px;
    padding-left: 20px;
    font-size: 18px;
    width: 40%;
    border-radius: 20px;
    background-color: whitesmoke;
}

#city:focus{
    border: 0px;
    outline: 3px solid royalblue;
}

#searchbtn{
    width: 4%;
    padding: 10px;
    /* font-size: 18px; */
    background-color: grey;
    color: #fff;
    cursor: pointer;
    border-radius: 30px;
    border: 0px;
}



#searchbtn:hover{
    background-color: #282828;
    border: 0px;
    outline: 3px solid #282828;
}

#welcomeText{
    width: 80%;
    margin: auto;
    margin-top: 150px;
    color: #282828;
    font-size: 55px;
    font-family: 'Montserrat', sans-serif;
}


/* WEATHER DISPLAY AREA */

#container{
    width: 100%;
    /* height: 100vh; */
    padding: 1px;
    /* border: 1px solid red; */
    background-image: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("https://www.metoffice.gov.uk/binaries/content/gallery/metofficegovuk/hero-images/weather/cloud/cumulus-cloud.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: brightness(0.9); */
    display: none;
}

#currentWeather{
    width: 80%;
    height: 350px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 2px solid grey;
    /* border: 1px solid red; */
}

#locationInfo{
    width: 40%;
    height: 100%;
    padding: 10px;
    padding-left: 30px;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    /* border: 1px solid blue; */
}


.mainTemp{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    margin-top: 30px;
}

.feelslike{
    text-transform: capitalize;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.minmax{
    display: flex;
    justify-content: flex-start;
    gap: 35px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
}

.suntime{
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
}

.sunicon{
    color: #f9d71c;
}

.otherinfo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-gap: 10px;
    font-size: 18px;
    margin-top: 15px;
}

#locationMap{
    width: 55%;
    height: 100%;
    /* padding-right: 15px; */
    border-radius: 20px;
    /* padding: 10px; */
    /* border: 1px solid blue; */
}

#locationMap iframe{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}


#forecast-wrapper{
    width: 80%;
    margin: auto;
    /* height: 400px; */
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    padding-bottom: 5px;
}

#weekForecast{
    width: 100%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 200px;
    grid-gap: 20px;
    padding-left: 30px;
    padding-right: 15px;
    /* background-color: #282828; */
    /* border: 1px solid red; */
}

/* #weekForecast > div{
    border: 1px solid blue;
} */

#msg{
    width: 100%;
    margin: auto;
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 30px;
}

.weekDayDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    /* font-weight: bold; */
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: rgb(40,40,40);
    background-color: rgba(40,40,40,0.8);
    border-radius: 20px;
    color: white;
}

.weekDayDiv p{
    margin-top: 5px;
    color: white;
}





/* MEDIA QUERIES */



@media all and (max-width: 700px){
    #searchDiv{
        justify-content: center;
    }

    #city{
        width: 70%;
        background-color: whitesmoke;
    }

    #welcomeText{
        font-size: 28px;
    }

    #searchbtn{
        width: 15%;
    }

    #container{
        width: 100%;
    }

    #currentWeather{
        width: 100%;
        height: 100vh;
        flex-direction: column;
        gap: 20px;
    }

    #locationInfo{
        width: 90%;
        margin: auto;
        padding: 25px;
        background-color: #accdf1;
    }

    #locationMap{
        width: 90%;
        margin: auto;
        padding: 0px;
    }

    #forecast-wrapper{
        width: 90%;
        margin: auto;
        background-color: whitesmoke;
    }

    #weekForecast{
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 170px;
        grid-auto-rows: 170px;
        padding: 15px;
    }

    .weekDayDiv h3{
        font-size: 18px;
    }

    .weekDayDiv p{
        font-size: 16px;
    }

    .weekDayDiv img{
        width: 60px;
        height: 60px;
    }


    #msg{
        width: 100%;
        /* padding-right: 20px; */
    }
}

@media all and (min-width: 401px) and (max-width: 700px){
    #weekForecast{
        width: 100%;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 220px;
        grid-auto-rows: 220px;
        padding: 20px;
    }
}